<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <add key="IsFake" value ="1"/>
  <add key="SQLiteConnectionString" value ="C:\Users\gpbjk\OneDrive\Files\10_SystemDevelopments\VisualStudio\work\002_Slideshow\SQLite.db"/>
  <add key="DialogInitialDirectory" value ="C:\Users\gpbjk\OneDrive\Files\10_SystemDevelopments\VisualStudio\work\002_Slideshow\_samples"/>
  <add key="ImageExtension" value ="JPG"/>

</appSettings>